<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body style="background-color: powderblue">
	<h1>All Users</h1>
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>UserName</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "membro : ${membri}">
						<td th:text = "${membro.firstName}"></td>
						<td th:text = "${membro.lastName}"></td>
						<td>
							<form method="GET" th:action="'/projects/task/member/' + ${projectId} + '/' + ${membro.id}">
								<button type="submit" name="submit" value="value">SELECT</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

</body>
</html>